* {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background: navajowhite;
  border: none;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  transition: 1s;
}

button:hover {
  padding: 10px 200px;
  transition: 2s;
}

/* Reset */

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

/* Components */

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  padding: 50px 0;
}

.spacer-sm {
  height: 25px;
}

.spacer-md {
  height: 50px;
}

.spacer-lg {
  height: 100px;
}

.break-container {
  width: 100vw;
  position: relative;
  /* left: calc(-1 * (100vw - 100%) / 2); */
  margin: 0 calc(-50vw + 50%);
}

.card {
  background: #eeeeee;
  padding: 2rem;
  border: 1px solid #aaaaaa;
  transition: 0.5s ease-in-out;
}

.card:hover {
  box-shadow: none;
  background: #f4f4f4;
  box-shadow: 0px 15px 10px -15px #111;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

/* Flexbox helpers */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

/* Row options */

.gutters > [class*="col-"] {
  padding: 0 20px;
}

[class*="col-"] {
  margin-bottom: 40px;
}

.pad > [class*="col-"] {
  padding: 20px 0;
}

/* Columns */

@media (min-width: 300px) {
  .col-xs-12 {
    flex-basis: 100%;
  }
  .col-xs-11 {
    flex-basis: 91.66666667%;
  }
  .col-xs-10 {
    flex-basis: 83.33333333%;
  }
  .col-xs-9 {
    flex-basis: 75%;
  }
  .col-xs-8 {
    flex-basis: 66.66666667%;
  }
  .col-xs-7 {
    flex-basis: 58.33333333%;
  }
  .col-xs-6 {
    flex-basis: 50%;
  }
  .col-xs-5 {
    flex-basis: 41.66666667%;
  }
  .col-xs-4 {
    flex-basis: 33.33333333%;
  }
  .col-xs-3 {
    flex-basis: 25%;
  }
  .col-xs-2 {
    flex-basis: 16.66666667%;
  }
  .col-xs-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    flex-basis: 100%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
  }
  .col-sm-9 {
    flex-basis: 75%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
  }
  .col-sm-3 {
    flex-basis: 25%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 1024px) {
  .col-md-12 {
    flex-basis: 100%;
  }
  .col-md-11 {
    flex-basis: 91.66666667%;
  }
  .col-md-10 {
    flex-basis: 83.33333333%;
  }
  .col-md-9 {
    flex-basis: 75%;
  }
  .col-md-8 {
    flex-basis: 66.66666667%;
  }
  .col-md-7 {
    flex-basis: 58.33333333%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-5 {
    flex-basis: 41.66666667%;
  }
  .col-md-4 {
    flex-basis: 33.33333333%;
  }
  .col-md-3 {
    flex-basis: 25%;
  }
  .col-md-2 {
    flex-basis: 16.66666667%;
  }
  .col-md-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 1300px) {
  .col-lg-12 {
    flex-basis: 100%;
  }
  .col-lg-11 {
    flex-basis: 91.66666667%;
  }
  .col-lg-10 {
    flex-basis: 83.33333333%;
  }
  .col-lg-9 {
    flex-basis: 75%;
  }
  .col-lg-8 {
    flex-basis: 66.66666667%;
  }
  .col-lg-7 {
    flex-basis: 58.33333333%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-5 {
    flex-basis: 41.66666667%;
  }
  .col-lg-4 {
    flex-basis: 33.33333333%;
  }
  .col-lg-3 {
    flex-basis: 25%;
  }
  .col-lg-2 {
    flex-basis: 16.66666667%;
  }
  .col-lg-1 {
    flex-basis: 8.33333333%;
  }
}

@media (min-width: 1500px) {
  .col-xl-12 {
    flex-basis: 100%;
  }
  .col-xl-11 {
    flex-basis: 91.66666667%;
  }
  .col-xl-10 {
    flex-basis: 83.33333333%;
  }
  .col-xl-9 {
    flex-basis: 75%;
  }
  .col-xl-8 {
    flex-basis: 66.66666667%;
  }
  .col-xl-7 {
    flex-basis: 58.33333333%;
  }
  .col-xl-6 {
    flex-basis: 50%;
  }
  .col-xl-5 {
    flex-basis: 41.66666667%;
  }
  .col-xl-4 {
    flex-basis: 33.33333333%;
  }
  .col-xl-3 {
    flex-basis: 25%;
  }
  .col-xl-2 {
    flex-basis: 16.66666667%;
  }
  .col-xl-1 {
    flex-basis: 8.33333333%;
  }
}
